{% extends 'base/main.html' %}
{% block content %}
<div class="card" style="width: 22rem;">
    <div class="card-body">
        <h1>Register</h1>
        <form action="" method="post">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
            <label>{{form.password1.label}}</label>
            {{form.password1}}
            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <input class="btn btn-primary" style="margin-top: 10px;" type="submit" value="Register">
        </form>
        <p>Already have an account?<a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
{% endblock content %}